<!--- Partnership selection -->
<div class="dropdown">
  <%= select_tag 'selected_partnership', options_for_select(@partnerships), :onchange => "indexAjax()" %>
</div>


<!--- Jobs according to partnership and staff login-->
<table class="table table-hover table-striped col-md-12">
    <thead>
    <tr>
      <th>Jobs</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <%# @jobs.each do |job| %>
<!--      <tr>-->
<!--        <td>-->
          <%#= job.title %>
<!--        </td>-->
<!--        <td>-->
          <%#= job.status %>
<!--        </td>-->
<!--      </tr>-->
    <%# end %>
    <tr>
      <td> Job1</td>
      <td> Complete</td>
    </tr>
    <tr>
      <td> Job1</td>
      <td> WIP </td>
    </tr>

    </tbody>
  </table>

<!--- jobs pages navigation if jobs>50 or so --->


<script>
  function indexAjax() {
      partnership = $("[name='selected_partnership']");
      // AJAX partnerhip.val()

  }
</script>